fastapi
uvicorn[standard]
python-dotenv
python-multipart
youtube-transcript-api>=1.0.0
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-huggingface
huggingface_hub
faiss-cpu
requests
pydantic
beautifulsoup4
google-api-python-client
sentence-transformers